.neverall-apps-component {
  .neverall-logo {
    width: 60px;
    height: 60px;
    fill: white;
    position: relative;
    top: -10px;
    left: 0px;
  }
  .apps-icon {
    width: 20px;
    height: 20px;
    fill: white;
    position: relative;
    top: -0px;
    left: -40px;
  }
}
