.logo-component {
  white-space: nowrap;
  display: inline-block;
  position: relative;
  height: var(--headerHeight);
  width: 80px;
  .top-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    position: relative;
    top: 2px;
    left: 24px;
  }
  .godot-shopping {
    width: 42px;
    height: 42px;
    top: 0px;
    left: 14px;
  }
  .logo-text {
    position: relative;
    top: 15px;
    left: -28px;
    font-size: 1rem;
    font-family: sans-serif;
    color: white;
  }
}
