.footer-component {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  a {
    color: #fff;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}
