:root {
    --maxWidthForSlideMenu: 1230px;
    --shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.75);
    --headerHeight: 4rem;
    --belowHeaderHeight: 5rem;
    --mobileWidth: 400px;
    --logoContainerWidth: 60px;


    // color palette

    --FunGreen: rgb(1, 102, 71);
    --WineBerry: rgb(63, 17, 53);
    --CongressBlue: rgb(0, 67, 145);
    --EasternBlue: rgb(34, 131, 173)
    --Tabasco: rgb(163, 29, 18);
    --Grenadier: rgb(203, 66, 3);
    --SwampBlack: rgb(0, 1, 1);
    --GrayNickel: #c9c9c7;
    --PirateGold : rgb(169, 116, 2);
    --white: #ffffff;
  
    --Color1: rgb(255, 255, 255);
    --Color2: rgb(239, 239, 239);
    --Color3: rgb(223, 223, 223);
    --Color4: rgb(207, 207, 207);
    --Color5: rgb(191, 191, 191);
    --Color6: rgb(175, 175, 175);
    --Color7: rgb(159, 159, 159);
    --Color8: rgb(143, 143, 143);
    --Color9: rgb(127, 127, 127);
    --Color10: rgb(111, 111, 111);
    --Color11: rgb(95, 95, 95);
    --Color12: rgb(79, 79, 79);
    --Color13: rgb(63, 63, 63);
    --Color14: rgb(47, 47, 47);
    --Color15: rgb(31, 31, 31);
    --Color16: rgb(15, 15, 15);
    @media (prefers-color-scheme: dark) {
      --Color1: rgb(0, 0, 0);
      --Color2: rgb(16, 16, 16);
      --Color3: rgb(32, 32, 32);
      --Color4: rgb(48, 48, 48);
      --Color5: rgb(64, 64, 64);
      --Color6: rgb(80, 80, 80);
      --Color7: rgb(96, 96, 96);
      --Color8: rgb(112, 112, 112);
      --Color9: rgb(128, 128, 128);
      --Color10: rgb(144, 144, 144);
      --Color11: rgb(160, 160, 160);
      --Color12: rgb(176, 176, 176);
      --Color13: rgb(192, 192, 192);
      --Color14: rgb(208, 208, 208);
      --Color15: rgb(224, 224, 224);
      --Color16: rgb(240, 240, 240);
    }

    // color usage

  --headerBg: #183444;
  --headerHover: #0a171e; // #223844;
  --secondaryHeaderBg: #e6eeff;
  --fontColor: #333333;
  --bodyBackground: #e9eff5;
  --bannerColor: #cbddff;
  --logoColor: white;
  --appBackground: white;
  --errorColor: red;
  --floatingBoarderColor: #a6aecf;
  --errorMessageBorderColor: var(--errorColor);
  --errorMessageBackgroundColor: pink;
}
  